.design {
    background-color:var(--background-color);
    margin-top: 100px;
    font-family: var(--font-family) ;

}
.design-content{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 510px;
}

small {
    margin-left: 150px;
}

.email input[type="email"] {
    margin-right: 50px;
    width: 400px;
    height: 60px;
}
.design-tittle {
color: white;
}
.design-content .email {
    margin-top: 50px;
    flex-direction: row;
    display: flex;
}
a.button {
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: #fd0000;
    display:flex;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: sans-serif;
    width: 200px;
    align-items: center;
    justify-content: center
}