.footer {
    font-family: var(--font-family2);
    margin-top:40px;
}
.footer-container{
    width:var(--content-width);
    display: flex;
    margin: 0 auto;
    background-color: black;
    padding-top: 20px;


}
.footer .footer-container .left-footer p {
    color: white;
}

.footer .footer-container .left-footer,
.footer .footer-container .right-footer
{
    margin: 0 auto;
}

button.foot{
    width: 25px;
    border-radius: 50%;
    padding: 0;
    color: #242424;
}
